body{
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
#bg{
	background-image: url("./index_bg.png");
	width:100%;
	min-height:950px;
	background-size: 100% 100%;
	position:relative;
	margin: auto;
	max-height:1024px;
	min-width:1024px;
	min-height:768px;
	}
#mainbg{
	background-image: url("./main.png");
	width:100%;
	min-height:950px;
	background-size: 100% 100%;
	position:relative;
	margin: auto;
	max-height:1024px;
	min-width:1024px;
	min-height:768px;
}
#bar{
	background-color:#00ADB5;
	width:100%;
	height:50px;
	margin-right:3px;
	position:fixed;
	
}
#barfont{
	float:left;
	height:35px;
	color:#eee;
	font-size:25px;
	font-weight:bold;
	margin-top:7px;
	margin-bottom:8px;
	margin-left:3%;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
#user{
	float:left;
	height:35px;
	color:#eee;
	font-size:25px;
	font-weight:bold;
	margin-top:7px;
	margin-bottom:8px;
	margin-left:15%;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

#quit{
	float:left;
	
}
#quitB{
	background-color:#eee;
	height:30px;
	border:1px;
	border-color:#eee;
	border-radius:2px;
	margin:10px 15px;
	font-size:0.9em;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	width:5em;
}
#contain{
	height:800px;
	width:80%;
	min-width:650px;
	margin-left:auto;
	margin-right:auto;
}

#loginbox{
	float:left;
	background-color:#393E46;
	height:370px;
	width:430px;
	margin-top:180px;
	margin-left:15%;
}

#logintitle{
	font-size:2em;
	text-align:center;
	font-weight:800;
	color:#eee;
	margin-bottom:15px;
}
.legend{
	color:#000;
	font-weight:bold;
	font-size:1.1em;
	margin-bottom:15px;
}
.logT{
	color:#eee;
	font-size:1.1em;
	text-align:left;
	margin:15px;
	margin-left:10px;
	
}
.label{
	    color:#ffffff;
	    font-size:1.3em;
	    font-weight:bold;
	    margin-left:50px;
	    padding-right:10px;
		text-align:right;
		display:inline-block;
		line-height:30px;
		width:100px;
		font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.inputText{
	 	background-color:#eee;
	    width:95%;
		margin:15px auto;
		height:30px;
		line-height:27px;
		border:1px solid;
		border-color:#eee;
		padding:3px;
		border-radius:0.2em;
		font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.loginBut{
	width:96%;
	background-color:#00ADB5;
	height:35px;
	border:1px;
	border-color:#eee;
	border-radius:3px;
	margin:30px 2%;
	color:#eee;
	font-size:1.1em;
	font-weight:600;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.inputText input{
		border:0;
		height:30px;
		line-height:30px;
		width:95%;
		}

.button {
	background-color:#eee;
	margin-top:15px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	margin-left:12%;
	font: 16px/100% "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-weight:600;
	color:393E46;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .4em; 
	-moz-border-radius: .4em;
	border-radius: .4em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}		
#main{
	position:relative;
	top:200px;
	left:8%;
}
.button button{
	position:relative;
}
#insertMenu{
	position:absolute;
	top:220px;
	left:35%;
	display:none;
}
#editMenu{
  float:right;
  display:none;
  margin-right:0;
}
#showMenu{
  float:right;
  margin-right:7%;
  display:none;
  margin-top:100px;
}
#showSelectMenu{
  float:right;
  margin-right:7%;
  display:none;
  margin-top:20px;
}
#selectGroup{
	position:absolute;
	top:170px;
	left:35%;
	display:none;
	border-width:1px;
	border-color:white;
	border-style:solid;
	padding:10px;
}
#update{
	position:absolute;
	top:220px;
	left:35%;
	display:none;
}
.insertlabel{
    height:30px;
    text-align:right;
    font-family:'Microsoft yahei';
    font-weight:600;
    font-size:1.1em;
}
.inputlabel{
    height:30px;
    border:0;
    
}
.seButt{
	margin-top:15px;
	border-color:#454545;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	font-family:'Microsoft yahei';
	font-weight:600;
	padding:5px;
	background-color:#ffffff;
}
.delete{                     //删除按钮，表格里用
	background-color:#ffffff;
	color:#ff0000;
	font-weight:700;
	border-width: 1.5px;
	border-color:#ff3030;
	padding:3px;
	padding-left:7px;
	padding-right:7px;
	margin:2px;
}
.edit{                      //编辑按钮，表格里用
	background-color:#ffffff;
	color:#00ff00;
	font-weight:700;
	border-width: 1.5px;
	border-color:#30ff30;
	padding:3px;
	padding-left:7px;
	padding-right:7px;
	margin:2px;
}
.rfidTable{
	background-color:#000000;
	border:1px;
	border-style:solid;
	margin-left:180px;
}
.rfidTable th{
    background-color:#9B9A9A;
    border:1px;
    border-style:solid;
    padding:3px 5px 3px 5px;
    text-align:center;
    font-weight:600;
    font-size:0.9em;
    
}
.rfidTable td{
	background-color:#c0c0c0;
	padding:3px 5px 3px 5px;
	font-weight:500;
	text-align:center;
	font-size:0.9em;
}
#tq{
	text-align:left;
}
#select1{
  position:absolute;
  top:50px;
  right:0px;
  display:none;
  margin-right:50px;
}
#select2{
  position:absolute;
  top:80px;
  right:0px;
  display:none;
  margin-right:50px;
}
#select3{
  position:absolute;
  top:130px;
  right:0px;
  display:none;
  margin-right:50px;
}
#userInfo{
	position:relative;
	color:#ffffff;
	font-weight:700;
	font-size:1.3em;
	left:50px;
	top:50px;
}
#selecLa{
	font-size:1.5em;
	color:#000;
	font-weight:bold;
	text-align:center;	
}
.noDisplay{
	display:none;
}
.bre{
	margin-bottom:20px;
}
#s1{
	width:100%;
}
#count{
  float:right;
  margin-right:7%;
  margin-top:100px;
  display:none;
}